<div id="index-wrapper">
<div id="index">
<h1><span id="gdanski">Gdański</span>
<br class="hidden-xs">
<span id="greeter">Greeter</span></h1>
<a href="http://greeters.pl" class="text-center"><img id="greeters" src="/images/greeters.png" alt="Strona główna Greeters.pl"></a>
<nav>
<ul>
<li><a class="internal" href="/wiecej">O konkursie</a></li>
<li><a class="internal" href="/regulamin">Regulamin</a></li>
</ul>
</nav>
</div>
</div>