<div id="codex">
{{>sidebar}}
<div id="text" >
<h2>Regulamin</h2>
<div class="nano">
<div  class="content">
<ol id="codex-text">
<li>
<h3>ORGANIZATOR
</h3>

Konkurs Gdański Greeter organizowany jest na rzecz projektu Greeters Polska przez Gdański Harcerski Krąg Akademicki, dalej zwany Organizatorem. Zasady konkursu określone są niniejszym regulaminem. Regulamin Konkursu dostępny jest na stronie internetowej.
</li>
<li>
<h3>CELE
</h3>
Celem Konkursu Gdański Greeter jest znalezienie interesujących i niezwykłych na swój sposób miejsc Gdańska, które nie są powszechnie znane lub mimo wartości jaką prezentują nie są promowane wśród turystów. Zadaniem konkursu jest zachęcenie do odkrywania i poznawania Gdańska, w sposób różniący się od utartych schematów.
</li>
<li>
<h3>UCZESTNICY
</h3>
Konkurs Gdański Greeter skierowany jest do uczniów gdańskich szkół średnich. Uczestnikiem staje się osoba, która wyśle swoją odpowiednio podpisaną pracę na <a href="mailto:konkurs@greeters.pl"> adres mailowy konkurs@greeters.pl</a>.
</li>
<li>
<h3>TERMIN KONKURSU
</h3>
1.12.2013 -31.01.2014
</li>
<li>
<h3>PRZYSTĄPIENIE DO KONKURSU
</h3>
W Konkursie Gdański Greeter wezmą udział prace fotograficzne, które spełnią wymogi techniczne opisane w Regulaminie i w terminie wskazanym w Regulaminie zostaną przesłane do Organizatora, tj. najpóźniej do 31 stycznia 2014 roku (włącznie) znajdą się w posiadaniu Organizatora. Prace mogą być przesłane jedynie na adres mailowy. W temacie należy wpisać swoje imię i nazwisko. Poprzez przesłanie pracy na Konkurs, Uczestnik potwierdza, że zapoznał się z Regulaminem oraz akceptuje jego postanowienia.
</li>
<li>
<h3>WYMAGANIA DOTYCZĄCE PRAC KONKURSOWYCH
</h3>
Praca wysłana na Konkurs powinna składać się z dwóch części: Fotografii przedstawiającej ciekawe miejsca na terenie Gdańska, które zasługują na uwagę mieszkańców i turystów Notatki, z której wynika gdzie zostało wykonane zdjęcie, opis sfotografowanego miejsca, oraz odpowiedź na pytanie, dlaczego warto je zobaczyć? Ponadto praca powinna spełniać następujące warunki: Dotyczy tematu konkursu Fotografia wykonana w terminie trwania konkursu Fotografia wysłana jako plik cyfrowy w formacie JPG, podpisana imieniem i nazwiskiem Notatka, podpisana imieniem i nazwiskiem W wiadomości mailowej należy podać dane kontaktowe: imię i nazwisko, adres zamieszkania, numer telefonu, uczęszczana szkoła i klasa. Jeden uczestnik może nadesłać 3 prace konkursowe. W przypadku nadesłania większej liczby zdjęć przez jednego Uczestnika, Organizator zastrzega sobie prawo do wyboru 3 prac metodą losową, bez uwzględnienia w Konkursie pozostałych prac tego Uczestnika.
</li>
<li>
<h3>ROZSTRZYGNIĘCIE KONKURSU
</h3>
Rozstrzygnięcie Konkursu Gdański Greeter nastąpi do dnia 15.02.2014 r. Oceny i werdyktu dokona jury, w którego składzie są koordynatorzy projektu Greeters Polska. Ogłoszenie wyników nastąpi do 20.02.2014 r. i zostanie zamieszczone na stronie Laureaci Konkursu zostaną powiadomieni o wygranej drogą e-mailową i/lub listem poleconym w ciągu 5 dni od daty rozstrzygnięcia Konkursu. Wiadomość zostanie wysłana na adres wskazany w treści formularza zgłoszeniowego. W przypadku, gdy laureat Konkursu nie poda danych kontaktowych, Jury ma prawo – według własnego uznania – albo dokonać kolejnego wyboru, albo wezwać laureata do podania danych, publikując na stronie internetowej nagrodzone zdjęcie (lub zdjęcia) i wzywając autora do kontaktu z Organizatorem. W przypadku niezgłoszenia się autora tak opublikowanego zdjęcia (lub zdjęć) w ciągu kolejnych 3 dni roboczych od daty internetowej publikacji, Jury wybierze kolejnego laureata. Organizator zastrzega sobie prawo do wykorzystania nagrodzonych zdjęć w kampaniach reklamowych i/lub materiałach reklamowych Organizatora bez obowiązku wynagrodzenia dla autora zdjęć, jednakże Organizator nie ma obowiązku wykorzystania zdjęć.
</li>
<li>
<h3>POSTANOWIENIA DODATKOWE
</h3>
Organizator nie zwraca Uczestnikom żadnych kosztów związanych z ich uczestnictwem w Konkursie. Odpowiedzialność za naruszenie praw osób trzecich do zdjęcia nadesłanego na Konkurs w całości obciąża Uczestnika Konkursu. Organizator Konkursu zastrzega sobie prawo do wykorzystania nadesłanych zdjęć w publikacjach i wszelkich działaniach promocyjnych Greeters Polska. Uczestnikowi Konkursu nie należy się żadne wynagrodzenie z tytułu wykorzystania jego zgłoszonych prac w działaniach promocyjnych projektu Greeters Polska, na co każdy Uczestnik wyraża zgodę, zgłaszając się do Konkursu. Nagrodzone i wyróżnione prace przechodzą na własność Organizatora. Uczestnik ma obowiązek nieodwołalnie, bezwarunkowo i na pierwsze żądanie zwolnić Organizatora w całości od wszelkiej odpowiedzialności jaka zostałaby na Organizatora nałożona, choćby nieprawomocnym wyrokiem, z tytułu naruszenia w pracach praw osób trzecich, w tym osobistych lub majątkowych praw autorskich.
</li>
</div>
</div>
</div>
</div>
