<div id="sidebar">
<h1><a href="/"><span id="gdanski">"Gdański</span> <span id="greeter">Greeter"</span></a></h1>
<a href="http://greeters.pl" class="text-center"><img id="greeters" src="/images/greeters.png" alt="Strona główna Greeters.pl"></a>
<nav>
<ul>
<li><a id="about-link" href="/wiecej" class="internal">O konkursie</a></li>
<li><a id="codex-link" href="/regulamin" class="internal">Regulamin</a></li>
</ul>
</nav>
</div>