<div id="more">
{{>sidebar}}
<div id="text">
<h2>Konkurs turystyczno-fotograficzny<br>
<span>Gdański Greeter</span></h2>

<p class="text-center">Gdański Greeter jest konkursem mającym na celu odkrywanie nieznanych bądź niepopularnych, a interesujących miejsc znajdujących się na terenie Gdańska. 
<p class="text-center">To przedsięwzięcie skierowane do uczniów gdańskich szkół średnich oraz studentów, chcących podzielić się swoją wiedzą o tym co warto zobaczyć, by poczuć klimat Gdańska, by odkryć to czego nie znajdziemy w przewodnikach.</p>
</p>
<p class="text-center">Zachęcamy do udziału wszystkich miłośników turystyki i Gdańska, a także pasjonatów fotografii, bo to właśnie zdjęcie ma być główna formą przekazu.</p>
<p class="text-center">Autorzy najciekawszych prac zostaną nagrodzeni :)</p> 
<p class="text-center">Prosimy o zapoznanie się z regulaminem konkursu.</p>
</div>
</div>
